#header_sub{
    width: 100%;
    background-color: #000;
    .inner{
        width: 1180px;
        height: 150px;
        margin: 0 auto;
        position: relative;
        .pic{
            position: absolute;
            left: 30px;
            bottom: 20px;
            a{
                img{
                width: 300px;
                height: 100px;
                object-fit: cover;
              

                }
            }
        }
        nav{     
            #menuWeb{
                position: absolute;
                right: 30px;
                bottom: 0;
                li{
                    float: left;
                    a{
                        display: block;
                        padding: 14px 40px;
                        font: bold 20px/1 "arial";
                        color: #777;
                        &:hover{
                            background-color: #fff;
                            color: #555;
                        }
                    }
                }
            }
        }
    }    
}
.content{
    width: 100%;
    // padding: 200px 0;
    .inner{
        width: 100%;
        // height: 100vh;
    }
}
#footer_sub{
    width: 100%;
    padding-top: 100px;
    background-color: #000;
    z-index: 5;
    .inner{
        width: 1180px;
        margin: 0 auto;        
        img{
            width: 400px;
            height: 200px;
            object-fit: cover;
            margin-bottom: 30px;             
        }                    
        ul{
            margin-top: 50px;
            float: right;
            li{
                float: left;
                margin-left: 20px;
                a{
                    font: bold 16px/1 "arial";
                    color: #fff;
                    padding: 14px 40px;
                    &:hover{
                        background-color: #fff;
                        color: #000;
                    }
                }
            }
            a{
                float: left;
                font-size: 35px;
                color: #fff;
                padding: 14px 40px;
                :hover{
                    color: orange;
                }
            }
        }
        p{
            color: #fff;
        }        
    }
}